<div class="header">
  <h1>Welcome to the lottery game</h1>
</div>
<div class="gamble">
  <div class="lottery">
    <div class="lottery-header">
      Your lottery games
      <% 5.times do  %>
        <%= rand(0..9) %>
      <% end %>
    </div>
    <div class="start-button">
      <button type="button" class="btn btn-primary">Start</button>
    </div>
  </div>
  <div class="eurojackpot">
    <div class="lottery-header">
      Your eurjackpot games
      <% 5.times do  %>
        <%= rand(1..50) %>
      <% end %>
      Soles
      <% 2.times do  %>
        <%= rand(1..12) %>
      <% end %>
    </div>
    <div class="start-button">
      <button type="button" class="btn btn-primary">Start</button>
    </div>
  <div class="primitive">
    <div class="lottery-header">
      Your primitive games
      <% 6.times do  %>
        <%= rand(0..49) %>
      <% end %>
      Reintegro
      <%= rand(0..10) %>
    </div>
    <div class="start-button">
      <button type="button" class="btn btn-primary">Start</button>
    </div>
  </div>
</div>





